<div class="bottom-container">
  <div class="ui  vertical footer segment">
    <div class=" ui column centered grid">
    <a href="https://www.facebook.com/"><i class="facebook icon"> </i></a>
    <a href="https://www.instagram.com "> <i class="instagram icon"> </i></a>
  <a href="https://twitter.com "> <i class="twitter icon"></i></a>
  </div>

  <div class="ui column centered grid"">
      <div class="copy"> <i class=" copyright icon"></i>Aki Production</div>
  </div>



  </div>
</div>

</body>
</html>
