<% include partials/header %>

<form class="" action="index" method="post">
<input type="text" name="newBlog[title]" value="">
<input type="text" name="newBlog[image]" value="">
<textarea name="newBlog[body]" rows="8" cols="80"></textarea>
</form>

<% include partials/footer %>
